<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>Forum</display-name>
	<servlet>
		<description>
		</description>
		<display-name>Register</display-name>
		<servlet-name>Register</servlet-name>
		<servlet-class>servletsrelated.Register</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>servletsrelated.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Reply</display-name>
		<servlet-name>Reply</servlet-name>
		<servlet-class>servletsrelated.Reply</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteCategory</display-name>
		<servlet-name>DeleteCategory</servlet-name>
		<servlet-class>servletsrelated.DeleteCategory</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddNewcategory</display-name>
		<servlet-name>AddNewcategory</servlet-name>
		<servlet-class>servletsrelated.AddNewcategory</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddNewCategory</display-name>
		<servlet-name>AddNewCategory</servlet-name>
		<servlet-class>servletsrelated.AddNewCategory</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddNewModerator</display-name>
		<servlet-name>AddNewModerator</servlet-name>
		<servlet-class>servletsrelated.AddNewModerator</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddNewAdmin</display-name>
		<servlet-name>AddNewAdmin</servlet-name>
		<servlet-class>servletsrelated.AddNewAdmin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>MoveBoardToAnotherCategory</display-name>
		<servlet-name>MoveBoardToAnotherCategory</servlet-name>
		<servlet-class>servletsrelated.MoveBoardToAnotherCategory</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SetOrRemoveStickyProperty</display-name>
		<servlet-name>SetOrRemoveStickyProperty</servlet-name>
		<servlet-class>servletsrelated.SetOrRemoveStickyProperty</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RemoveSticky</display-name>
		<servlet-name>RemoveSticky</servlet-name>
		<servlet-class>servletsrelated.RemoveSticky</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddSticky</display-name>
		<servlet-name>AddSticky</servlet-name>
		<servlet-class>servletsrelated.AddSticky</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ModifyThreadTitle</display-name>
		<servlet-name>ModifyThreadTitle</servlet-name>
		<servlet-class>servletsrelated.ModifyThreadTitle</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CloseThread</display-name>
		<servlet-name>CloseThread</servlet-name>
		<servlet-class>servletsrelated.CloseThread</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddNewThread</display-name>
		<servlet-name>AddNewThread</servlet-name>
		<servlet-class>servletsrelated.AddNewThread</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteMessage</display-name>
		<servlet-name>DeleteMessage</servlet-name>
		<servlet-class>servletsrelated.DeleteMessage</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>servletsrelated.Logout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteBoard</display-name>
		<servlet-name>DeleteBoard</servlet-name>
		<servlet-class>servletsrelated.DeleteBoard</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddNewBoard</display-name>
		<servlet-name>AddNewBoard</servlet-name>
		<servlet-class>servletsrelated.AddNewBoard</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EditMessage</display-name>
		<servlet-name>EditMessage</servlet-name>
		<servlet-class>servletsrelated.EditMessage</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RemoveModerator</display-name>
		<servlet-name>RemoveModerator</servlet-name>
		<servlet-class>servletsrelated.RemoveModerator</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>
		/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>
		/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Reply</servlet-name>
		<url-pattern>
		/Reply</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteCategory</servlet-name>
		<url-pattern>
		/DeleteCategory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddNewcategory</servlet-name>
		<url-pattern>
		/AddNewcategory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddNewCategory</servlet-name>
		<url-pattern>
		/AddNewCategory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddNewModerator</servlet-name>
		<url-pattern>
		/AddNewModerator</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddNewAdmin</servlet-name>
		<url-pattern>
		/AddNewAdmin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MoveBoardToAnotherCategory</servlet-name>
		<url-pattern>
		/MoveBoardToAnotherCategory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SetOrRemoveStickyProperty</servlet-name>
		<url-pattern>
		/SetOrRemoveStickyProperty</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveSticky</servlet-name>
		<url-pattern>
		/RemoveSticky</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddSticky</servlet-name>
		<url-pattern>
		/AddSticky</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifyThreadTitle</servlet-name>
		<url-pattern>
		/ModifyThreadTitle</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CloseThread</servlet-name>
		<url-pattern>
		/CloseThread</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddNewThread</servlet-name>
		<url-pattern>
		/AddNewThread</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteMessage</servlet-name>
		<url-pattern>
		/DeleteMessage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>
		/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteBoard</servlet-name>
		<url-pattern>
		/DeleteBoard</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddNewBoard</servlet-name>
		<url-pattern>
		/AddNewBoard</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditMessage</servlet-name>
		<url-pattern>
		/EditMessage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveModerator</servlet-name>
		<url-pattern>
		/RemoveModerator</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>